{% extends 'shared/base.html' %}

{% block content %}

<header class="hero-section">
    <h3 class="header-text">Welcome to the Car Collection API! {{ current_user.email }}</h3>
</header>

<div class="container">
    <h3>Here are your garage keys</h3>
    <ul class="list-group">
        <li class="list-group-item">
            Email: {{ current_user.email }}
        </li>
        <li class="list-group-item">
            Token: {{ current_user.token }}
        </li>
        {% if jwt %}
        <li class="list-group-item">
            API Access Key: <p>{{ jwt }}</p> <!--TODO: add access key-->
        </li>
        {{ else }}
        <li class="list-group-item">
            API Access Key: <p>None</p> <!--TODO: add access key-->
        </li>
        {% endif %}
    </ul>
</div>

{% endblock content %}