{% extends "shared/base.html" %}
{% block content %}

<!--Flash message from Flask on succesful login-->
<!--If there are messages, for each message, display each message with a close x-->
<div class="container">
    {% with messages = get_flashed_messages(with_categories = true) %} 
        {% if messages %}
            {% for cat, msg in messages %}
                {% if cat == 'auth-success' %}
                    <div class="alert alert-success">
                        {{ msg }}
                        <button class="close" data-dismiss = "alert">&times;</button>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endwith %}
</div>

<!--header portion-->
<header>
    <div class="row">
        <div class="col-12">
            <img src="../static/images/garage.jpg" alt="Car Collection" class="garage-banner">
        </div>
        <div>
            <h1 class = "banner-text">Car Collection APIs</h1>
        </div>
    </div>
</header>

<!--explanation -->
<div class="row" id="api-information">
    <div class="col-12 col-md-6" id="api-info-text">
        <h2>Our API allows you to track, organize, and maintain your collection of cars from anywhere!</h2>
        <p>"Lorem, ipsum dolor sit amet consectetur adipisicing elit. Debitis aperiam adipisci odio voluptates illo architecto vero molestiae, laborum tempora repellat totam obcaecati quam distinctio sequi pariatur sunt facilis blanditiis aliquam.</p>
    </div>
</div>
<!--buttons and info-->
<section>
    <div class="row" id="button-section">
        <div class="col-4">
            <img src="../static/images/car-api.png" alt="API image" class="button-image">
            <h4>Our API</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint error nisi deserunt voluptatum incidunt repellendus fugiat dignissimos est vero molestiae assumenda officia ratione voluptate amet, cumque, quis illo, deleniti similique!</p>
            <button class="btn btn-outline-primary">Learn More</button>
        </div>
        <div class="col-4">
            <img src="../static/images/wheel.png" alt="Steering Wheel" class="button-image">
            <h4>You Steer The Information</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet recusandae quod ratione aliquam, ullam laudantium incidunt a odit reiciendis veritatis perspiciatis consequuntur sit. Ullam consequatur sequi porro illum officia voluptas.</p>
            <button class="btn btn-outline-primary">Learn More</button>
        </div>
        <div class="col-4">
            <img src="../static/images/car logo.png" alt="Car Logo" class="button-image">
            <h4>Your Data</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis pariatur consectetur repellat fugit animi sit dolores ipsum officia iste voluptatem quisquam, sapiente, possimus dolorem asperiores doloribus veniam labore recusandae quod.</p>
            <button class="btn btn-outline-primary">Learn More</button>
        </div>
    </div>
</section>
<!-- buttons and info end-->

<!--footer-->
<footer>
    <div class="row" id="footer">
        <div class="col-2">
            <img src="../static/images/car logo.png" alt="Car API Logo" class="footer-logo">
        </div>
        <div class="col-2">
            <h4>About</h4>
            <p>Find Us Online</p>
            <p>Legal</p>
            <p>Company</p>
        </div>
        <div class="col-2">
            <h4>Social</h4>
            <p>Find Us Online</p>
            <p>Legal</p>
            <p>Company</p>
        </div>
        <div class="col-2">
            <h4>Careers</h4>
            <p>Find Us Online</p>
            <p>Legal</p>
            <p>Company</p>
        </div>
        <div class="col-2">
            <h4>Legal</h4>
            <p>Find Us Online</p>
            <p>Legal</p>
            <p>Company</p>
        </div>
        <div class="col-2">
            <h4>Contact</h4>
            <p>Find Us Online</p>
            <p>Legal</p>
            <p>Company</p>
        </div>
    </div>
</footer>


{% endblock content %}